# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


NEXT_PUBLIC_SUPABASE_URL=https://taiyharwcaiumvqqxpml.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhaXloYXJ3Y2FpdW12cXF4cG1sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDAyOTg3MDIsImV4cCI6MjA1NTg3NDcwMn0.pccfqBA7pjPBt3HBgcTV9YoLs48R2lbNk1tRvdd5WsQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhaXloYXJ3Y2FpdW12cXF4cG1sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MDI5ODcwMiwiZXhwIjoyMDU1ODc0NzAyfQ.jnoRQSKQuP7a1DudbejTKcl7PerNZ7aCSRaFMga2A9w
NEXTAUTH_SECRET=8
NEXTAUTH_URL=https://www.froggyfolios.xyz/
TWITTER_CLIENT_ID=STFrdFF5T0huc2h5QmROaGRrQXU6MTpjaQ
TWITTER_CLIENT_SECRET=oyEnfLDo1bJ2BoJu67P-ISPfvtNghSWEsbk3KXA9QbxwGJ2Qvj
ADMIN_PASSWORD=456
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAIQAzgEAAAAAf0qsLoX5WB%2BkRRUKldPeS5o10QI%3DSQdo8TXby6j2aa9kDtMtJjruq6rSTOZvuVRhoTAy0GxMXrVllQ
